<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div class="container card shadow p-3 mb-5 bg-white rounded">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Product name</th>
        <th scope="col">Product count</th>
        <th scope="col">Customer name</th>
      </tr>
    </thead>

    <tbody>
      <% @customer.orders.each do |order| %>
        <tr>
          <td><%= order.product_name %></td>
          <td><%= order.product_count %></td>
          <td><%= order.customer.full_name %></td>
        </tr>
    </tbody>
  </table>
</div> <%# /class="card shadow p-3 mb-5 bg-white rounded" %>
      <div class="container card shadow mb-5 p-3">
        <ul class="list-group list-group-horizontal text-center">
          <li class="list-group-item flex-fill"><%= button_to 'Show', order, class: "btn btn-outline-secondary" %></li>
          <li class="list-group-item flex-fill"><%= button_to 'Edit', edit_order_path(order), class: "btn btn-outline-primary" %></li>
          <li class="list-group-item flex-fill"><%= button_to "Destroy", order, method: :delete, data: { turbo_confirm: "Are you sure you want to remove this order?"}, class: "btn btn-outline-danger"%></li>
        </ul>
      <% end %>
      </div>
    </div> <%# /class="card shadow p-3 mb-5 bg-white rounded" %>

<div class="container card shadow p-3 bg-white rounded">
  <ul class="list-group list-group-horizontal text-center">
    <li class="list-group-item flex-fill"><%= link_to "Edit this customer", edit_customer_path(@customer), class: "btn btn-outline-secondary" %></li>
    <li class="list-group-item flex-fill"><%= link_to "Back to customers", customers_path, class: "btn btn-outline-primary" %></li>
    <li class="list-group-item flex-fill"><%= button_to "Destroy this customer", @customer, method: :delete, data: { turbo_confirm: "Are you sure you want to remove this customer?"}, class: "btn btn-outline-danger" %>
  </ul>
</div>
