<div class="container card shadow p-3 mb-5 bg-white rounded">

  <p style="color: green"><%= notice %></p>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Customer name</th>      
        <th scope="col">Product name</th>
        <th scope="col">Product count</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.customer.full_name %></td>
          <td><%= order.product_name %></td>
          <td><%= order.product_count %></td>
        </tr>
    </tbody>
  </table>
</div> <%# /order info container %>

<div class="container card shadow mb-5 p-3">
      <ul class="list-group list-group-horizontal text-center">
        <li class="list-group-item flex-fill"><%= button_to 'Show', orders_path, class: "btn btn-outline-secondary" %></li>
        <li class="list-group-item flex-fill"><%= button_to 'Edit', edit_order_path(order), class: "btn btn-outline-primary" %></li>
        <li class="list-group-item flex-fill"><%= button_to "Destroy", order, method: :delete, data: { turbo_confirm: "Are you sure you want to remove this order?"}, class: "btn btn-outline-danger"%></li>
      </ul>
  <% end %>
</div> <%# /button & link card container" %>

