<!DOCTYPE html>
<html>
  <head>
    <title>R7Validations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/navbar' class: ""%>
    <div class="container">
      <div class="banner mt-4 p-5 bg-primary text-white rounded">
        <h1>Welcome to MarMart</h1>
        <h4>Providing you service with a smile</h4>
      </div>
    </div> <%# /container %>
    
    <% if flash[:alert].present? %>
      <p class="my_alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
